{% extends "web_app/base.html"%}
{% load static %}

{% block title %}A propos du Chasa{% endblock %}

{% block content %}
	<section class="container-fluid" id="about">
		<div class="row">
			<h2 class="offset-md-2 col-md-8">A propos du club et de ses membres.</h2>
		</div>

		<div class="row">
			<h3 id="club" class="offset-md-2 col-md-8">Le Club</h3>
		</div>

		<div class="row">
			<div class="offset-md-2 col-md-8">
				<p>Le CHASA, c'est une école de plongée située dans la région du centre (Belgique). Depuis plus de vingt ans, elle forme des plongeurs de tout niveau dans une ambiance agréable et amicale.</p>
				<p>Les brevets délivrés sont reconnus par fédération belge (FEBRAS) membre fondateur de la CMAS, confédération mondiale des activités subaquatiques.</p>
				<p>Le CHASA possde aussi une section plongée enfants qui rencontre un vif succès.</p>
				<p>Toutes les semaines, des sorties club sont organisées dans les carrières belges (Vodelée, la Croisette, Rochefontaine...) et chaque année, d'autres stages prennent place (Zeelande, Estartit, La Ciotat...).</p>
			</div>
		</div>

		<div class="row">
			<h3 id="members" class="offset-md-2 col-md-8">Les membres</h3>
		</div>

		<div class="row">
			<div class="offset-md-2 col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/president.jpg' %}" width="125" height="190" alt="Photo du Président">
					<figcaption>Le <strong>Président</strong> : <em>Jacques Degrèves</em></figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/vice_president.jpg' %}" width="125" height="190" alt="Photo du Vice-Président">
					<figcaption>Le <strong>Vice-Président</strong> : <em>Guilio Lombardo</em></figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-2 col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/treasurer.jpg' %}" width="125" height="190" alt="Photo du Trésorier">
					<figcaption>Le <strong>Trésorier</strong> : <em>Vincent Bardiaux</em></figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/secretary.jpg' %}" width="125" height="190" alt="Photo de la Secrétaire">
					<figcaption>La <strong>Secrétaire</strong> : <em>Stéphanie Matten</em></figcaption>
				</figure>
			</div>
		</div>
		<div class="row">
			<div class="offset-md-2 col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/kevin.jpg' %}" width="125" height="190" alt="Photo de Kevin">
					<figcaption>Le <strong>Comié des fêtes</strong> : <em>Kevin Nalinne</em></figcaption>
				</figure>
			</div>
			<div class="col-md-4">
				<figure class="text-center" >
					<img src="{% static 'web_app/Images/sarah.jpg' %}" width="125" height="190" alt="Photo de Sarah">
					<figcaption>Le <strong>Comité des fêtes</strong> : <em>Stéphanie Matten</em></figcaption>
				</figure>
			</div>
		</div>
	</section>
{% endblock %}
