{% extends "web_app/base.html" %}

{% block title %}Sorties Club{% endblock %}

{% block content %}
	<section class="container-fluid" id="events">
		<div class="row">
			<h2 class="offset-md-2 col-md-8">Vous trouverez ci-dessous toutes les sorties du Chasa :</h2>
		</div>
		
		<div class="table-responsive">
			<table class="table table-light table-striped table-bordered table-hover">
				<thead class="thead-dark">
					<tr>
						<th scope="col">#</th>
						<th scope="col">First</th>
						<th scope="col">Last</th>
						<th scope="col">Handle</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>Mark</td>
						<td>Otto</td>
						<td>@mdo</td>
					</tr>
					<tr>
						<th scope="row">2</th>
						<td>Jacob</td>
						<td>Thornton</td>
						<td>@fat</td>
					</tr>
					<tr>
						<th scope="row">3</th>
						<td>Larry</td>
						<td>the Bird</td>
						<td>@twitter</td>
					</tr>
				</tbody>
			</table>
		</div>
	</section>
{% endblock %}
